{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false,
				"targets": {
					"browsers": [
						"> 0.25%",
						"last 2 versions",
						"not ie <= 8"
					]
				}
			}
		],
		"mobx"
	],
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		[
			"@babel/plugin-transform-runtime",
			{
				"absoluteRuntime": false,
				"corejs": {
					"version": 3,
					"proposals": true
				},
				"helpers": true,
				"regenerator": true,
				"useESModules": true,
				"version": "7.0.0-beta.0"
			}
		]
	],
	"env": {
		"test": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"targets": {
							"node": "current"
						}
					}
				],
				"mobx"
			],
			"plugins": [
				"istanbul"
			]
		}
	},
	"ignore": [
		"webpack-dev-server.js",
		"webpack.js",
		"vue-router"
	]
}
